<div class="bg-gray-200" style="min-height: 100vh;">
  <div class="w-full py-4 h-32 text-4xl text-center text-gray-600">
    Birthday Calendar
  </div>
  <div
    class="flex w-full mb-8 py-4 pl-8"
    style="flex-wrap: wrap; min-height: 30vh;"
  >
    <app-days
      *ngFor="let days of daysArray; let i = index"
      [day]="days"
      [birthDays]="cardData[i]"
    ></app-days>
  </div>
  <div class="w-full flex px-8">
    <div class="w-1/2 p-2">
      <textarea
        rows="20"
        cols="50"
        class="border-solid border-4 w-full"
        [(ngModel)]="birthdayData"
      ></textarea>
    </div>
    <div class="w-1/2 py-8 px-8 text-left">
      <label for="year" class="text-gray-700 block font-bold mb-2">Year</label>
      <input
        id="year"
        type="number"
        [(ngModel)]="yearValue"
        class="shadow appearance-none border rounded w-full md:w-1/2 py-2 px-3 text-gray-700 leading-tight mb-4 block"
        name="year"
      />
      <button
        class="bg-blue-700 text-white font-bold py-2 px-2 rounded"
        (click)="handleUpdate()"
      >
        Update
      </button>
      <p class="text-red-500 text-xs mt-4" *ngIf="errorString">
        {{ errorString }}
      </p>
    </div>
  </div>
</div>
